@media screen and (max-width: 801px) {
        .sidebar_overlay {
          margin-left: 0rem;
          margin-top: -47px;
      }
      .transform_in{
      transform: translateX(-340px);
      transition: 0.5s;
      transition-timing-function: ease-in-out;
      }
      .transform_out{
      transform: translateX(1px);
      transition: 0.5s;
      transition-timing-function: ease-in-out;
      }
      .imgfix{
        margin-top: 30px;
      }

    #btn {
        z-index: 6666;
        position: relative;
        color: whitesmoke;
        display: inline-block;
        background: #149ddd;
        border-radius: 9px;
        font-size: 24px;
        left: 0px;
        top: 0px;
        font-size: 25px;
        color: white;
        padding: 6px 12px;
        transition: all 0.5s;
        margin-top: 10px;
        margin-left: 10px;
    }

    #cancel_sidebar {
        display: inline-block;
        position: absolute;
        background: #149ddd;
        color: whitesmoke;
        z-index: 1111;
        left: 220px;
        top: 5px;
        font-size: 20px;
        padding: 2px 4px;
        transition: all 0.5s ease;
    }
    .typing_text{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .item_list li{
        margin: 25px 0;
    }

}
@media (min-width:801px) {
    #btn{
        display: none;
    }
    #cancel_sidebar{
        display:  none;
    }
    .imgfix{
        margin-top: 31px;
    }
    .item_list li{
        margin: 35px 0;
    }
    footer p{
        font-size: 13px;
    }
    .typing_text{
        position: absolute;
    top: 50%;
    left: 63%;
    width: 50%;
    }
    .sidebar_overlay {
        margin-left: 15.65rem;
        background-color: white;
    }
    .pushable {
        margin: 0 21px;
    
    }
   
    .bubbles span{
        margin:0 5px;
    }
}
@media (max-width:500px){
  
    .bubbles span{
    height: 11px;
    width: 439px;
    box-shadow: 0 0 0 6px #4fc3dc44, 0 0 41px #4fc3dc, 0 0 92px #4fc3dc;
    margin: 0px;
    }
    .bubbles span:nth-child(even){
    box-shadow: 0 0 0 6px #ff2d7544, 0 0 41px #ff2d75, 0 0 92px #ff2d75;
      }   
      

      #main_mail_box{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .box1{
        display: none;
      }
     
      #main_box02{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: -2rem;
        min-width: 86%;
        padding: 0px 10px;
      }
}
@media (min-width:1150px) {
    .typing_text{
    position: absolute;
    top: 50%;
    left: 60%;
    }
}

@media (min-width:1400px) {
    .typing_text{
        position: absolute;
    top: 50%;
    left: 56%;
    }
}
@media (max-width:576px) {
    .side_text {
        font-size: 30px;
    }
    .type_name{
        font-style: 40px;
    }
}
@media (max-width:400px) {
    .side_text {
        font-size: 22px;
    }
    .type_name{
        font-style: 30px;
    }
}

@media (min-width:435px){
    .front{
        padding: 12px 30px;
    }
    .pushable{
        margin: 0 20px;
    }
}
@media (max-width:435px){
    .front{
        padding: 12px 15px;
    }
    .pushable{
        margin: 0 10px;
    }
}
@media (max-width:1200px) {
    #skill_content_box{
        display: grid;
        grid-template-rows: auto auto;
        grid-auto-flow: dense;
    }
    .skill_logo_box{
        grid-row: 2;
    }
    .image_box{
        grid-row: 1;
    }
    
}

@media screen and (max-width:590px) {
#pr_content_id{
    display: grid;
    grid-template-columns: auto ;
    }
}